<ion-menu [content]="content" type="push">
    <ion-toolbar  color="secondary">
        <ion-title>
            <span style="color:white;">TruckJee</span>
        </ion-title>
    </ion-toolbar>

    <ion-content style="background-color: #273747">
        <ion-list style="margin-top:20%;">
            {{is_logged_in}}

            <div *ngIf="is_logged_in">

                <div *ngIf="assumedRole == 'owner'">
                    <button style="background-color: #273747; color: #49c098" menuClose ion-item *ngFor="let p of ownerPages" (touchstart)="openPage(p)">
                        {{p.title}}
                    </button>
                </div>
                <button style="background-color: #273747; color: #49c098" menuClose ion-item (touchstart)="signOut()"> Sign out </button>
            </div>

            <div *ngIf="!is_logged_in">
                <button style="background-color: #273747; color: #49c098" menuClose ion-item *ngFor="let p of pages" (touchstart)="openPage(p)">
                    {{p.title}}
                </button>
            </div>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav color="secondary" #content swipeBackEnabled="false" [root]="rootPage"></ion-nav>
