<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span>  Your Trucks</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let truck of trucks" (click)='getTruck(truck)'>
      <p>Truck Number</p>{{truck.truck_number}}
      <ion-icon style="color:red" name="radio-button-on" item-right *ngIf="truck.gps_updated_speed == 0"></ion-icon>
      <ion-icon style="color:green" name="radio-button-on" item-right *ngIf="truck.gps_updated_speed != 0"></ion-icon>
      <p></p>
      <p>Location</p>{{truck.formatted_address}}
      <p>Updated at </p>{{ truck.gps_updated_time }}
      <p></p>
      <p>Speed</p>{{truck.gps_updated_speed}} km/hr
    </ion-item>
  </ion-list>
</ion-content>